# editor
.ipynb_checkpoints
.idea
!.idea/watchers.xml
**/.DS_Store

# python
*__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/
wheels/

# Virtual environments
/venv
.env.dev
client_secret_840805765611-ifmkcjpvrrk9mok2t9t0dvmrid8pliko.apps.googleusercontent.com.json
cloudflared tunnel login.txt
/cloudflare